.city-section {
  padding: 30px 8%;
}

.section-heading p {
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.section-heading h2 {
  font-size: 36px;
  margin: 0 0 10px;
}

.section-heading span {
  color: #666;
}

.city-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin-top: 35px;
}

.city-card {
  min-height: 280px;
  padding: 24px;
  border-radius: 16px;
  background: #f3f3f3;
  box-shadow: #666;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  cursor: pointer;
  transition: transform 0.25s ease;
}

.city-card:hover {
  transform: translateY(-5px);
}

.city-card h3 {
  font-size: 34px;
  margin: 0 0 8px;
}

.city-card span {
  font-size: 14px;
}